Cython==0.29.21
torch>=2.0.0
torchvision>=0.7.0
protobuf==3.19.0
numpy==1.21.6
scipy==1.5.2
librosa==0.10.0
tensorboard==2.3.0
matplotlib==3.3.1

# unidecode==1.3.4 # english, japanese

# eng_to_ipa==0.0.2 # english
# inflect==6.0.0 # english

ko_pron==1.3 # korean
jamo==0.4.1 # korean

# pyopenjtalk==0.2.0 # japanese

# jieba==0.42.1 # chinese
# pypinyin==0.44.0 # chinese
# cn2an==0.5.17 # chinese
# opencc==1.1.1 # chinese
# indic_transliteration==2.3.37 # sanskrit

# num_thai==0.0.5 # thai
