--extra-index-url https://download.pytorch.org/whl/cu126
torch==2.8.0+cu126
torchvision==0.23.0+cu126

Cython
protobuf
numpy
scipy
librosa
tensorboard
matplotlib
tqdm

unidecode # english, japanese

eng_to_ipa # english
inflect # english

ko_pron # korean
jamo # korean

pyopenjtalk # japanese

jieba # chinese
pypinyin # chinese
cn2an # chinese
opencc # chinese

# indic_transliteration==2.3.37 # sanskrit

# num_thai==0.0.5 # thai
